################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ThunderED/bin
/ThunderED/obj
*.user
/Jaex.IRCLib/obj
/Jaex.IRCLib/bin/Debug/netcoreapp2.0
