################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ThunderED/bin
/ThunderED/obj
*.user
/Jaex.IRCLib/obj
/Jaex.IRCLib/bin/Debug/netcoreapp2.0
/Jaex.IRCLib/bin/Release/netcoreapp2.0
/TED_ChatRelay/bin
/TED_ChatRelay/obj
/packages
/TED_ConfigEditor/bin/Debug
/TED_ConfigEditor/obj/Debug
/TED_ConfigEditor/bin/Release
/TED_ConfigEditor/obj/Release
/ThunderED.Tests/bin
/ThunderED.Tests/obj
/Restarter/bin/Debug/netcoreapp3.1
/Restarter/obj
/Restarter/bin/Release/netcoreapp3.1
