<!doctype html>
<html>
<head>
    <title>{header}</title>
    <meta name="viewport" content="width=device-width">
    {headerContent}
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right"></ul>
        </div>
        <div class="jumbotron">
            <h1>Discord</h1>
            <p class="lead">{body}</p>
            <p> {message}</p>
            <p><a class="btn btn-info" href="{backUrl}" role="button" style="min-width: 150px">{backText}</a></p>
        </div>
    </div>
    <!-- /container -->
</body>
</html>