<!doctype html>
<html>
<head>
    <title>{header}</title>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    {headerContent}
</head>

<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right"></ul>
        </div>
        <div class="jumbotron">
            <h1>Discord</h1>
            <p class="lead">{body}</p>
            <p><a href="{authUrl}"><img src="https://images.contentful.com/idjq7aai9ylm/4fSjj56uD6CYwYyus4KmES/4f6385c91e6de56274d99496e6adebab/EVE_SSO_Login_Buttons_Large_Black.png" /></a></p>
            <br>
            <br>
            <p><a class="btn btn-info" href="/authPage.html" role="button" style="min-width: 150px">{backText}</a></p>
        </div>
    </div>
    <!-- /container -->
</body>
</html>