<!doctype html>
<html>
<head>
    <title>{header}</title>
    <meta name="viewport" content="width=device-width">
    {headerContent}
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right"></ul>
        </div>
        <div class="jumbotron">
            <h1>Discord</h1>
            <p class="lead">{body}</p>
            <p>{body2}</p>
            <p><b>{uid}</b></p>
            <p></p>
            <p>{body3}</p>
            <p><a href="{url}" target="_blank"><img src="data:image/png;base64, {image}" width="150px" /></a></p>
            <p><a class="btn btn-info" href="/authPage.html" role="button" style="min-width: 150px">{backText}</a></p>
        </div>
    </div>
    <!-- /container -->
</body>
</html>"