<!doctype html>
<html>
<head>
    <title>{header}</title>
    <meta name="viewport" content="width=device-width">
    {headerContent}
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right"></ul>
        </div>
        <div class="jumbotron">
            <h1>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/EVE_online_logo.svg/2000px-EVE_online_logo.svg.png" width="250" />
            </h1>
            <p class="lead">{body}</p>
            <p> {body2}.</p>
            <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Yes_Check_Circle.svg/2000px-Yes_Check_Circle.svg.png" width="150" /></p>
            <p><a class="btn btn-info" href="/authPage.html" role="button" style="min-width: 150px">{backText}</a></p>
        </div>
    </div>
    <!-- /container -->
</body>
</html>"