<!doctype html>
<html>
<head>
    <title>{header}</title>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    {headerContent}
    <style type="text/css">
        .btn {
            width: 150px;
        }
    </style>
</head>

<body>
    <div class="container pagination-centered">
        <div class="header">
            <ul class="nav nav-pills pull-right"></ul>
        </div>
        {authHeaderText}
        <div class="jumbotron pagination-centered">
            {authControls}
        </div>
        <br>
        <br>
        <p style="align-content: center"><a class="btn btn-info" href="/" role="button" style="min-width: 150px">{backText}</a></p>
    </div>
</body>
</html>