<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {headerContent}
</head>
<style type="text/css">
    .bgNegativeSum {
        background: red;
    }

    .bgPositiveSum {
        background: yellowgreen;
    }

    .fgNegativeSum {
        color: white;
    }

    .fgPositiveSum {
        color: black;
    }
    .col {
        border: solid 1px #6c757d;
        padding: 10px;
    }
</style>
<script>
    function openMailDialog(url) {
        $('#modalMailContent').load(url,
            function() {
                $('#mailModal').modal('show');
            });
    }

    $(function() {

        $('[data-toggle=confirmation]').confirmation({
            rootSelector: '[data-toggle=confirmation]',
            // other options
        });

        //mail list
        if ({allowMailBool}) {
            $('#mail-page-selection').bootpag({
                total: totalMailPages!!,
                page: 1,
                maxVisible: 20
            }).on("page",
                function(event, num) {
                    $("#mail-content").load('{mailListUrl}' + num);
                });
            $("#mail-content").load('{mailListUrl}1');
        }
        if ({allowWalletBool}) {
            //transfers list
            $('#tr-page-selection').bootpag({
                total: totalTransactPages!!,
                page: 1,
                maxVisible: 20
            }).on("page",
                function(event, num) {
                    $("#tr-content").load('{transactListUrl}' + num);
                });
            $("#tr-content").load('{transactListUrl}1');
            //journal list
            $('#journal-page-selection').bootpag({
                total: totalJournalPages!!,
                page: 1,
                maxVisible: 20
            }).on("page",
                function(event, num) {
                    $("#journal-content").load('{journalListUrl}' + num);
                });
            $("#journal-content").load('{journalListUrl}1');
        }
        if ({allowCharStatsBool}) {
            //Last Year stats
            $('#lys-page-selection').bootpag({
                total: totalLysPages!!,
                page: 1,
                maxVisible: 20
            }).on("page",
                function(event, num) {
                    $("#lys-content").load('{lysListUrl}' + num);
                });
            $("#lys-content").load('{lysListUrl}1');
        }
        if ({allowContractsBool}) {
            //contracts
            $('#contract-page-selection').bootpag({
                total: totalcontractsPages!!,
                page: 1,
                maxVisible: 20
            }).on("page",
                function(event, num) {
                    $("#contract-content").load('{contractsListUrl}' + num);
                });
            $("#contract-content").load('{contractsListUrl}1');
        }
        if ({allowContactsBool}) {
            //contracts
            $('#contacts-page-selection').bootpag({
                total: totalcontactsPages!!,
                page: 1,
                maxVisible: 20
            }).on("page",
                function(event, num) {
                    $("#contacts-content").load('{contactsListUrl}' + num);
                });
            $("#contacts-content").load('{contactsListUrl}1');
        }
        if ({allowSkillsBool}) {
            //contracts
            $('#skills-page-selection').bootpag({
                total: totalskillsPages!!,
                page: 1,
                maxVisible: 20
            }).on("page",
                function(event, num) {
                    $("#skills-content").load('{skillsListUrl}' + num);
                });
            $("#skills-content").load('{skillsListUrl}1');
        }
    });

    function goBack() {
        location.href = '{backUrl}';
    }

</script>
<body>
    <div class="container">
        <input type="hidden" id="timerCharId" value="{charId}">
        <div>
            <a class="btn btn-primary" href="{backUrl}" role="button" style="margin: 10px; min-width: 100px;">{Back}</a>
            <a class="btn btn-primary{canSearchMail}" href="{butSearchMailUrl}" role="button" style="margin: 10px; min-width: 200px;">{butSearchMail}</a>
            <a class="btn btn-danger{canKickUsers}" href="{butDeleteUserUrl}" role="button" style="margin: 10px; min-width: 200px;" data-toggle="confirmation" data-title="{ConfirmUserDelete}">{butDeleteUser}</a>
        </div>
        <ul class="nav nav-pills float-right">{loggedInAs}<a href="{LogOutUrl}" style="margin-left:10px; margin-right: 30px;">{LogOut}</a></ul>

        <div class="container-fluid">
            <h2 style="text-align: center;">{header}</h2>
            <div class="row">
                <!-- Images column-->
                <div class="col-xl-5 col-lg-5">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="col left-img" style="padding:0px;" width="64">
                                <div style="background-color:black"><img height="64" width="64" style="margin: 0.5em" src="{imgCorp}" alt="corp logo"></div>
                                <div style="background-color:black" class="{disableAlly}"><img height="64" width="64" style="margin: 0.5em" src="{imgAlly}" alt="alli logo"></div>
                            </div>
                            <div width="256" class="col char-img" style="background-color:black"><img src="{imgChar}" alt="character image" style="display: block; margin: 0 auto;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="row-fluid">
                        {hrmInspectChar}:&nbsp; <a href="{zkillChar}">{charName}</a>
                    </div>
                    <div class="row-fluid">
                        {hrmInspectCorp}:&nbsp; <a href="{zkillCorp}">{charCorpName}</a>
                    </div>
                    <div class="row-fluid {disableAlly}">
                        {hrmInspectAlly}:&nbsp; <a href="{zkillAlly}">{charAllyName}</a>
                    </div>
                    <div class="row-fluid">
                        {hrmInspectSS}:&nbsp; {secStatus}
                    </div>
                    <div class="row-fluid">
                        {hrmInspectBirth}:&nbsp; {charBirthday}
                    </div>
                    <div class="row-fluid {disableSP}">
                        SP:&nbsp; {totalSP}
                    </div>
                    <div class="row-fluid {disableISK}">
                        ISK:&nbsp; {totalISK}
                    </div>
                    <div class="row-fluid {disableLocation}">
                        {hrmInspectLocation}:&nbsp; {locationData}
                    </div>
                    <div class="row-fluid {disableShip}">
                        {hrmInspectShip}:&nbsp; {shipData}
                    </div>
                </div>
            </div>
            <div style="margin-top:20px; text-align: center;"><h2 style="text-align: center;">Detailed Data</h2></div>
            <div class="row" style="margin-top: 20px; margin-left: 15px;">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">{tabCorpHistory}</a>
                        <a class="nav-item nav-link {disableMail}" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">{tabMail}</a>
                        <a class="nav-item nav-link {disableContracts}" id="nav-contract-tab" data-toggle="tab" href="#nav-contract" role="tab" aria-controls="nav-contract" aria-selected="false">{tabContracts}</a>
                        <a class="nav-item nav-link {disableWallet}" id="nav-transfers-tab" data-toggle="tab" href="#nav-transfers" role="tab" aria-controls="nav-transfers" aria-selected="false">{tabTransfers}</a>
                        <a class="nav-item nav-link {disableWallet}" id="nav-journal-tab" data-toggle="tab" href="#nav-journal" role="tab" aria-controls="nav-journal" aria-selected="false">{tabJournal}</a>
                        <a class="nav-item nav-link {disableCharStats}" id="nav-lys-tab" data-toggle="tab" href="#nav-lys" role="tab" aria-controls="nav-lys" aria-selected="false">{tabLastYearStats}</a>
                        <a class="nav-item nav-link {disableContacts}" id="nav-contacts-tab" data-toggle="tab" href="#nav-contacts" role="tab" aria-controls="nav-contacts" aria-selected="false">{tabContacts}</a>
                        <a class="nav-item nav-link {disableSkills}" id="nav-skills-tab" data-toggle="tab" href="#nav-skills" role="tab" aria-controls="nav-skills" aria-selected="false">{tabSkills}</a>
                    </div>
                </nav>
            </div>
            <div class="row" style="margin-top: 20px; margin-left: 15px;">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table class="table">
                            {corpHistoryTable}
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div id="mail-content">Loading...</div>
                        <div id="mail-page-selection"></div>
                    </div>
                    <div class="tab-pane fade" id="nav-contract" role="tabpanel" aria-labelledby="nav-contract-tab">
                        <div id="contract-content">Loading...</div>
                        <div id="contract-page-selection"></div>
                    </div>
                    <div class="tab-pane fade" id="nav-transfers" role="tabpanel" aria-labelledby="nav-transfers-tab">
                        <div id="tr-content">Loading...</div>
                        <div id="tr-page-selection"></div>
                    </div>
                    <div class="tab-pane fade" id="nav-journal" role="tabpanel" aria-labelledby="nav-journal-tab">
                        <div id="journal-content">Loading...</div>
                        <div id="journal-page-selection"></div>
                    </div>
                    <div class="tab-pane fade" id="nav-lys" role="tabpanel" aria-labelledby="nav-lys-tab">
                        <div id="lys-content">Loading...</div>
                        <div id="lys-page-selection"></div>
                    </div>
                    <div class="tab-pane fade" id="nav-contacts" role="tabpanel" aria-labelledby="nav-contacts-tab">
                        <div id="contacts-content">Loading...</div>
                        <div id="contacts-page-selection"></div>
                    </div>
                    <div class="tab-pane fade" id="nav-skills" role="tabpanel" aria-labelledby="nav-skills-tab">
                        <div id="skills-content">Loading...</div>
                        <div id="skills-page-selection"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Mail Dialog -->


<div class="modal fade" id="mailModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header newline" style="align-content: center;">
                <h5 class="modal-title">{mailHeader}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">    
                    <div id="modalMailContent"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-default" data-dismiss="modal">{Close}</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
