<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    {headerContent}

    <style type="text/css">
        h2 {
            margin-top: 0;
        }
    </style>

    <script>
        function updateConfirmation() {
            $('[data-toggle=confirmation]').confirmation({
                rootSelector: '[data-toggle=confirmation]',
                title: function () {
                    return $(this).attr("confirm-title");
                }
            });
            $('[data-toggle=confirmation]').tooltip({
                title: function () {
                    return $(this).attr("tooltip-title");
                },
                placement: 'bottom'
            });
        }

        function updateTooltips() {
            $('.solo_tooltip').tooltip({
                title: function () {
                    return $(this).attr("tooltip-title");
                },
                placement: 'bottom'
            });
        }

        $(function () {

            if ({allowAuthedScript}) {
                $("#authed-content").load('{authedListUrl}0', function () { updateConfirmation(); updateTooltips(); });
            }
            if ({allowAltScript}) {
                $("#alt-content").load('{altListUrl}0', function () { updateConfirmation(); updateTooltips();});
            }
            if ({allowAwaitingScript}) {
                $("#awaiting-content").load('{awaitingListUrl}0', function () { updateConfirmation(); updateTooltips();});
            }
            if ({allowDumpedScript}) {
                $("#dumped-content").load('{dumpedListUrl}0', function () { updateConfirmation(); updateTooltips();});
            }
            if ({allowSpyingScript}) {
                $("#spying-content").load('{spyingListUrl}0', function () { updateConfirmation(); updateTooltips();});
            }

        });

        function filterOnChangeAuthed() {
            var value = $('#selectAuthed').val();
            $("#authed-content").load('{authedListUrl}' + value, function () { updateConfirmation(); updateTooltips();});
        }

        function filterOnChangeAlt() {
            var value = $('#selectAlt').val();
            $("#alt-content").load('{altListUrl}' + value, function () { updateConfirmation(); updateTooltips();});
        }


        function filterOnChangeAwaiting() {
            var value = $('#selectAwaiting').val();
            $("#awaiting-content").load('{awaitingListUrl}' + value, function () { updateConfirmation(); updateTooltips();});
        }

        function filterOnChangeDumped() {
            var value = $('#selectDumped').val();
            $("#dumped-content").load('{dumpedListUrl}' + value, function () { updateConfirmation(); updateTooltips();});
        }

        function filterOnChangeSpying() {
            var value = $('#selectSpying').val();
            $("#spying-content").load('{spyingListUrl}' + value, function () { updateConfirmation(); updateTooltips();});
        }

    </script>
</head>

<body>
        
<ul class="nav nav-pills float-right">{loggedInAs}<a href="{LogOutUrl}" style="margin-left:10px; margin-right: 30px;">{LogOut}</a></ul>

<div class="container">
    <h2>{header}</h2>

    <div>
        <a href="{butSearchMailUrl}" class="btn btn-primary{canSearchMail}" role="button" style="margin: 10px; min-width: 200px;">{butSearchMail}</a>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="card{disableAuthed}">
            <div class="card-header" id="headingOne">
                <h4 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {membersHeader}
                    </button>
                </h4>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row-fluid">
                        <span class="fas fa-filter justify-content-center align-self-center" style="margin-right: 25px;"></span>
                        <select id="selectAuthed" class="form-control" style="width: 300px;" onchange="filterOnChangeAuthed()">
                            {authedFilterContent}
                        </select>
                    </div>
                    <div id="authed-content" class="container">
                        Loading...
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card{disableAlt}">
            <div class="card-header" id="headingOne">
                <h4 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAlt" aria-expanded="true" aria-controls="collapseAlt">
                        {altHeader}
                    </button>
                </h4>
            </div>
            <div id="collapseAlt" class="collapse" aria-labelledby="headingAlt" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row-fluid">
                        <span class="fas fa-filter justify-content-center align-self-center" style="margin-right: 25px;"></span>
                        <select id="selectAlt" class="form-control" style="width: 300px;" onchange="filterOnChangeAlt()">
                            {altFilterContent}
                        </select>
                    </div>
                    <div id="alt-content" class="container">
                        Loading...
                    </div>
                </div>
            </div>
        </div>

        <div class="card{disableAwaiting}">
            <div class="card-header" id="headingTwo">
                <h4 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        {awaitingHeader}
                    </button>
                </h4>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row-fluid">
                        <span class="fas fa-filter justify-content-center align-self-center" style="margin-right: 25px;"></span>
                        <select id="selectAwaiting" class="form-control" style="width: 300px;" onchange="filterOnChangeAwaiting()">
                            {awaitingFilterContent}
                        </select>
                    </div>
                    <div class="card-body">
                        <div id="awaiting-content" class="container">
                            Loading...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header{disableDumped}" id="heading3">
                <h4 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                        {dumpHeader}
                    </button>
                </h4>
            </div>
            <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row-fluid">
                        <span class="fas fa-filter justify-content-center align-self-center" style="margin-right: 25px;"></span>
                        <select id="selectDumped" class="form-control" style="width: 300px;" onchange="filterOnChangeDumped()">
                            {dumpedFilterContent}
                        </select>
                    </div>
                    <div class="card-body">
                        <div id="dumped-content" class="container">
                            Loading...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header{disableSpying}" id="heading4">
                <h4 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                        {spyingHeader}
                    </button>
                </h4>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row-fluid">
                        <span class="fas fa-filter justify-content-center align-self-center" style="margin-right: 25px;"></span>
                        <select id="selectSpying" class="form-control" style="width: 300px;" onchange="filterOnChangeSpying()">
                            {spyingFilterContent}
                        </select>
                    </div>
                    <div class="card-body">
                        <div id="spying-content" class="container">
                            Loading...
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>
