<form role="form">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">{DateHeader}</span>
        </div>
        <input type="text" class="form-control" value="{mailDate}" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">{SubjectHeader}</span>
        </div>
        <input type="text" class="form-control" value="{mailSubject}" readonly>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">{FromHeader}</span>
        </div>
        <textarea class="form-control" readonly rows="2">{maiFrom}</textarea>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">{TextHeader}</span>
        </div>
        <textarea class="form-control" readonly rows="10">{mailText}</textarea>
    </div>
</form>
