<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {headerContent}
</head>
<style type="text/css">
    h2 {
        margin-top: 0;
    }
</style>
<script type="text/javascript">

    function openMailDialog(url) {
        $('#modalMailContent').load(url,
            function() {
                $('#mailModal').modal('show');
            });
    }

    $(function() {

        if (!{isGlobal}) {
            $('#hideBlock1').addClass("d-none");
        }

        $('#smAcceptButton').on('click',
            function(event) {
                event.preventDefault();
                $('#smError').addClass("d-none");
                $("#mail-content").text('Loading, please wait...');

                debugger;
                let data = {
                    "smAuthType": ({isGlobal} ? $("#smAuthType").val() : '0'),
                    "smSearchType": $("#smSearchType").val(),
                    "smText": $("#smText").val(),
                };
                var str = JSON.stringify(data);
                console.log(str);
                var str2 = encodeURIComponent(str);

                $("#mail-content").load('{mailSearchUrl}' + str2,
                    function(result) {
                        if (result.toLowerCase().startsWith('error')) {
                           // $('#smError').removeClass("d-none");
                           // $('#smError').text(result);
                        }
                    });
            });
    });

</script>
<body>
        
<ul class="nav nav-pills float-right">{loggedInAs}<a href="{LogOutUrl}" style="margin-left:10px; margin-right: 30px;">{LogOut}</a></ul>

<div class="container">
    <a class="btn btn-primary" href="{backUrl}" role="button" style="margin: 10px; width: 100px;">{Back}</a>
    <h2>{searchMailHeader}</h2>

    <div>
        <button type="button" class="btn btn-danger btn-block d-none" id="smError" style="margin: 10px;"></button>
    </div>
    <div>
        <form role="form" class="form-inline">
            <div class="form-group">
                <div class="input-group" id="hideBlock1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{entryUserType}</span>
                    </div>
                    <select class="custom-select" id="smAuthType">
                        <option selected>...</option>
                        <option value="1">{entryUserTypeAuthed}</option>
                        <option value="2">{entryUserTypeAwaiting}</option>
                    </select>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{entrySearchFor}</span>
                    </div>
                    <select class="custom-select" id="smSearchType">
                        <option selected>...</option>
                        <option value="1">{entrySearchForSenderChar}</option>
                        <option value="2">{entrySearchForSenderCorp}</option>
                        <option value="3">{entrySearchForSenderAlliance}</option>
                        <option value="4">{entrySearchForTitle}</option>
                    </select>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{entrySearchTerm}</span>
                    </div>
                    <input type="text" class="form-control" id="smText" placeholder="{entrySearchTermTooltip}">
                </div>
            </div>
            <button type="button" class="btn btn-primary" id="smAcceptButton" style="margin-left: 10px; width: auto;">{StartSearchMail}</button>
        </form>
    </div>
    <p/>
    <h4>{searchMailContentHeader}</h4>
    <div>
        <div id="mail-content"></div>
    </div>
</div>

<!-- Modal Mail Dialog -->

<div class="modal fade" id="mailModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header newline" style="align-content: center;">
                <h5 class="modal-title">{mailHeader}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">    
                    <div id="modalMailContent"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-default" data-dismiss="modal" style="margin-left: 10px;">{Close}</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
