<!doctype html>
<html>
<head>
    <title>{header}</title>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    {headerContent}    
    <style type="text/css">
    </style>
</head>

<body>
    <div class="container pagination-centered">
        <div class="header">
            <ul class="nav nav-pills pull-right"></ul>
        </div>
        <div class="jumbotron pagination-centered">
            <h2>{webWelcomeHeader}</h2>
            <p><a class="btn btn-info btn-block" href="/authPage.html" role="button" style="min-width: 150px">{authButtonText}</a></p>
            {manageControls}
        </div>
    </div>
</body>
</html>