<div style="margin: 10px;">
    <!--<div class="newline" style="font-weight: bold">
        {availableGroups}
    </div> -->
    <div id="smErrorTi" class="newline d-none" style="color: red; font-weight: bold; font-size: medium;">
    </div>
</div>
<div id="toolbarTi">
    <button id="addButtonTi" type="button" class="btn btn-primary">{saAddEntry}</button>
    <button id="delButtonTi" type="button" class="btn btn-danger" disabled>{saDeleteEntry}</button>
    <button id="saveButtonTi" type="button" class="btn btn-primary" style="margin-left: 10px;">{saSave}</button>
</div>
<div style="margin: 10px;">
    <table id="tableTi"
           data-toggle="table"
           data-toolbar="#toolbarTi"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="false"
           data-show-columns="true"
           data-id-field="Id"
           data-unique-id="Id"
           data-show-footer="false"
           data-url="http://{serverAddress}/settings.php?code={code}&state=settings_ti"
           data-response-handler="responseHandler"
           data-filter-control="true"
           data-show-export="false"
           data-height="600"
           data-pagination="true"
           data-locale='{locale}'>
        <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="Id" data-required="true" class="d-none"></th>
                <th data-field="Name" data-required="true" data-filter-control="input" data-sortable="true" data-editable="true">{saTableColumnName}</th>
                <th data-field="Entities" data-filter-control="select" data-sortable="true" data-editable="true">{tiTableColumnEntities}</th>
                <th data-field="Roles" data-filter-control="select" data-sortable="true" data-editable="true">{saTableColumnRoles}</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>