<div style="width: 400px;">
    <p class="frontcolor" style="text-align: center">@(Message ?? LM.Get("webPerformAction"))</p>
    
    <p style="text-align: center">
        <button @onclick="Close" class="navButton2" style="padding-top: .2rem; width: 80px;">@LM.Get("webYes")</button>
        <button @onclick="Cancel" class="navButton2" style="padding-top: .2rem; width: 80px;">@LM.Get("webNo")</button>
    </p>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter]public string Message { get; set; }

    async Task Close() => await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    async Task Cancel() => await BlazoredModal.CancelAsync();

}