.newline {
    display: flex;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: left; /* for horizontal aligning of child divs */
    align-items: left; /* for vertical aligning */
}

.row-fluid {
    display: flex;
}

.flex-content {
    display: flex;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.input-group-text {
    width: 110px;
}

.fixed150 {
    width: 150px;
}